<!-- webapp/flask/app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
      <br/>
      {{ utils.flashed_messages() }}
      <br/>
      <div class="center">
        <h1>Login to Water Tracker Garden</h1>
        <br/>
        {{ wtf.quick_form(form) }}
    </div>
    </div>
  </div>
</div>
{% endblock %}
