[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "*"
email-validator= "*"
flask = "*"
flask-bootstrap4 = "*"
flask-httpauth = "*"
flask-login = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-mysqldb = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
marshmallow-sqlalchemy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-randomly = "*"
pytest-xdist = "*"

[dev-packages]

[requires]
python_version = "3.9"
