<!-- flask/app/templates/home/dashboard.html -->
<!-- Goal: be able to see your current progress if logged in, 
    and track a new container.

    If not logged in - show popup of "log in to save progress"

    Elements:
    - intro header
    - cute animations of existing plants
    - progress for today percentage bar
    - buttons for add container.
-->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
       <div class="middle">
         <div class="inner">
             {% if current_user.is_authenticated %}
             <h1 style="text-align: center;">Hey {{ current_user.name }}, make a splash!</h1>
             {% else %}
             <h1 style="text-align: center;"> Hey friend, make a splash today</h1>
             <p style="text-align: center;"> Sign in to keep track of your progress and grow your plant collection.</p>
             {% endif %}
             <div class="center">
            <hr class="intro-divider">
            <div class="row">
                <!-- Progress column-->
                <div class="container">
                    <!-- Today's progress bar-->
                    {% if current_user.is_authenticated and log.water_consumed > 0 %}
                    {% endif %}
                    <img src="{{ url_for('static', filename='img/plants_png/2.png') }}" style="width:8rem;height:8rem;">
                    <div class="container">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                    </div>
                      <div id="water-container-s">
                        <!-- <button type="button" class="btn btn-primary btn-sm"> - </button> -->
                        <button type="button" id="water-container-s" class="btn btn-secondary btn-sm">
                            <img src="{{ url_for('static', filename='img/plants_png/water.png') }}" style="width:5rem;height:5rem;">
                        </button>
                        <p style="text-align: center;">250 ml</p>   
                        <!-- the  - _______ + area -->
                    </div>
                </div>
               
            </div>
            <div>
                <!-- THe plant area for displaying plants-->
            </div>
            </div>
         </div>
        </div>
    </div>
</div>
{% block script %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
{% endblock %}