<!-- flask/app/templates/home/dashboard.html -->
<!-- Goal: be able to see your current progress if logged in, 
    and track a new container.

    If not logged in - show popup of "log in to save progress"

    Elements:
    - intro header
    - cute animations of existing plants
    - progress for today percentage bar
    - buttons for add container.
-->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
       <div class="middle">
         <div class="inner">
             {% if current_user.is_authenticated %}
             <h1 style="text-align: center;">Hey {{ current_user.name }}, make a splash!</h1>
             {% else %}
             <h1 style="text-align: center;"> Hey friend, make a splash today</h1>
             <p style="text-align: center;"> Sign in to keep track of your progress and grow your plant collection.</p>
             {% endif %}
             <div class="center">
            <hr class="intro-divider">
            <div class="row">
                <!-- Progress column-->
                <div class="col-md-12">
                    <!-- Today's progress bar-->
                    <div class="container">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                    </div>
                      <div>
                        <button type="button" class="btn btn-primary btn-sm"> - </button>
                        <button type="button" class="btn btn-primary btn-sm"> + </button>
                        <!-- the  - _______ + area -->
                    </div>
                    <div>
                        <!-- the water container button areas-->
                        <button type="button" class="btn btn-secondary">XS</button>
                        <button type="button" class="btn btn-secondary">S</button>
                        <button type="button" class="btn btn-secondary">M</button>
                        <button type="button" class="btn btn-secondary">L</button>
                    </div>
                </div>
               
            </div>
            <div>
                <!-- THe plant area for displaying plants-->
            </div>
            </div>
         </div>
        </div>
    </div>
</div>

{% block script %}
<script src"{{ url_for('static', filename='js/main.js') }}></script>
{% endblock %}
{% endblock %}