{% extends "base.html" %}
{% block title %}How It Works{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
                 <h1 class="center">How it Works</h1>
                    <p class="lead center">Crush your water consumption goals while growing a garden!</class>
                    <!-- <hr class="my-2"> -->
                    <p class="center">Every day you're given a seed. As you log your water containers throughout the day your seed will grow into a little plant!</p>
                    <p class="center"> Your plants in your garden need you to keep logging your water to keep them happy!</p>
                    <p class="lead center">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
                      </p>
                    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}